* text=auto

*.bat text eol=crlf
*.cmd text eol=crlf
*.sh text eol=lf
*.command text eol=lf
*.py text eol=lf
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf

*.xlsx binary
*.docx binary
